html, body {
   height: 100%;
   padding: 0;
   margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 600pt;
  color: white;
  background-image: url(beemovie/BEEE.jpg);
  background-size: cover;
  text-align: center;
}

.quote{
  font-size: 6rem;
  display: block;
  width: 45%;
  text-align: left;
  position: relative;
  left: 5%;
  top:35%;
}

a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 480px) {
  .quote {
    font-size: 4rem;
    top: 25%;
    width: 45%;
  }
}

@media screen and (min-width: 640px) {
  .quote {
    font-size: 6rem;
    width: 50%;
    top:35%;
  }
}

@media screen and (max-width: 500px)  {
  .quote {
    top:0;
    font-size: 3rem;
    width:65%;
  }
}