html, body {
   height: 100%;
   padding: 0;
   margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 600pt;
  color: white;
  background-image: url(beemovie/fly.jpg);
  background-size: cover;
  text-align: center;
}

.quote{
  font-size: 30pt;
  display: block;
  width: 45%;
  text-align: left;
  position: relative;
  left: 10%;
  margin-top: 7%;
}

a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 480px) {
  .quote {
    font-size: 2rem;
    width: 45%;
  }
}

@media screen and (min-width: 640px) {
  .quote {
    font-size: 3rem;
    width: 50%;
  }
}

@media screen and (max-width: 500px)  {
  .quote {
    font-size: 1rem;
    width:65%;
  }
}

